# Блокировка доступа к служебным файлам и папкам
RedirectMatch 404 /\.git
RedirectMatch 404 /\.env
RedirectMatch 404 /\.gitignore

# Дополнительные security-заголовки
<IfModule mod_headers.c>
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
